%p#notice= notice

%p
  %b Name:
  = @forum_forum.name


= render 'forum/threads/index', forum: @forum_forum

= link_to 'Edit', edit_forum_forum_path(@forum_forum)
\|
= link_to 'Back', forum_forums_path
