%h1 Listing forum_threads

%table
  %tr
    %th Creator
    %th Subject
    %th Forum
    %th
    %th
    %th

  - @forum_threads.each do |forum_thread|
    %tr
      %td= forum_thread.creator
      %td= forum_thread.subject
      %td= forum_thread.forum_id
      %td= link_to 'Show', forum_thread
      %td= link_to 'Edit', edit_forum_thread_path(forum_thread)
      %td= link_to 'Destroy', forum_thread, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Thread', new_forum_thread_path
